/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 17, 2014, 8:51:36 AM
    Author     : gail
*/
.ftr-rectangle {
   -fx-fill: 
       linear-gradient(#c9d9e8, #e7f7ff);
   -fx-effect: dropshadow( three-pass-box , gray , 10 , 0 , 5.0 , 5.0 );
   -fx-stroke-width:1.0;
   -fx-stroke: darkblue;
}
.ftr-text {
    -fx-font-size: 14;    
}
.ftr-pane {
    -fx-background-color: linear-gradient(lightblue, #c9d9e8, #ddeeeb);
}
